h3 {
  text-align: center;
}

mat-form-field {
  width: 100%;

  &.half {
    width: 30%;
  }
}

.flex {
  justify-content: space-evenly
}

.money {

    text-align: right;
    padding-right: 15px;

  &::after {
    content: '€';
    position: absolute;
    right: 0;
    top: 22px;
  }

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  margin: auto;
  display: block;
}

.hidden {
  display: none;
}
