<form action="">
  <h3>Prato</h3>
  <input type="text" matInput  class="hidden" name="id" placeholder="id" [(ngModel)]="dish.id"/>
  <mat-form-field>
    <input type="text" #name matInput placeholder="Prato" name="name" [(ngModel)]="dish.name"/>
  </mat-form-field>
  <div>
    <mat-form-field>
      <textarea matInput #description placeholder="Descrição" name="description" [(ngModel)]="dish.description"></textarea>
    </mat-form-field>
  </div>
  <div class="flex">
  <mat-form-field class="half money">
    <input type="number" #half_price matInput placeholder="Meia Dose" name="half_price" [(ngModel)]="dish.half_price"/>
  </mat-form-field>
  <mat-form-field class="half money">
    <input type="text" #full_price matInput placeholder="Uma Dose" name="full_price" [(ngModel)]="dish.full_price"/>
  </mat-form-field>
</div>
<button mat-raised-button color="accent" (click)="Send()">{{ dish.id === -1 ? "Criar" : "Gravar"}}</button>
  </form>
