<form #f="ngForm" [formGroup]="validator">
  <mat-form-field>
    <input matInput #username type="text" [(ngModel)]="usernameInputValue" placeholder="Nome de Utilizador" class="form-control" formControlName="username"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" [(ngModel)]="passwordInputValue" placeholder="Palavra-Passe" name="password" formControlName="password"/>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onSubmit()">Entrar</button>
</form>