
<!--<div class="col-1">
    <img src="{{dish.image}}"/>
</div>-->
<div class="col-2">
    <h3>{{dish.name}}</h3>
    <p>{{ dish.description }}</p>
    <div class="price">
        <div class="half">
            <p><strong>1/2 Dose</strong></p>
            <p *ngIf="dish.half_price != 0">{{dish.half_price}}€</p>
            <p *ngIf="dish.half_price == 0">---</p>
        </div>
        <div class="half">
            <p><strong>1 Dose</strong></p>
            <p *ngIf="dish.full_price != 0">{{dish.full_price}}€</p>
            <p *ngIf="dish.full_price == 0">---</p>
        </div>
    </div>
</div>