@import "../sass/variables.scss";

h3{
    margin-top: 0;
    color: #c4151c;
    text-align: center;
}

p{
    text-align: center;
}

img{
    max-width: 100%;
}

span{
    display: block;
    float: right;
}

.price{
    display: flex;
    .half{
        flex-grow: 1;
        text-align: center;
        p{
            margin: 5px 0!important;
        }
    }
}

@media (max-width: $res-mobile){

    *{
        text-align: center!important;
    }
    
    img{
        width: 100%;
    }
}