@import "../sass/variables.scss";

a{
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #d43f3a;
    background-color: #C21924;
    text-decoration: none;
    color: white;
    width: 30%;
    margin: 40px auto;
}

a:hover{
    background-color: #c9302c;
    border-color: #ac2925;
    text-decoration: none;
}

i{
    font-size: 16px;
    margin-right: 5px;
}

@media (max-width: $res-mobile){
    a{
        display: inline-block;
        flex: 0.4;
    }
}