<a href="tel:{{phone}}" target="" rel="noopener noreferrer"><i class="fa fa-phone"></i>  {{phone | phone}}</a>
<a href="{{mapaUrl}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-map-marker"></i> Mapa</a>