<div class="flex-container">
<mat-card>
  <div class="content">
  <img mat-card-image class="logo" alt="Angular Logo" src="assets/img/logo.png">
  <mat-card-title>Login</mat-card-title>
  <tdm-login-form (onSubmitEvent)="Login($event)"></tdm-login-form>
</div>
</mat-card>
</div>