.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 16px);
}

mat-card{
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
}

.content{
    grid-column: 2 / span 1;
}

mat-card img{
    margin: auto;
    display: block;
}

@media (max-width: 1200px) and (min-width: 993px){
    .mat-card{
        width: 60%;
    }
}

@media (max-width: 992px) and (min-width: 769px){
    .mat-card{
        width: 60%;
    }
}

@media (max-width: 768px){
    .mat-card{
        width: 90%;
    }
}