@import "../sass/variables.scss";

h2 {
  text-align: center;
}

.dish {
  padding: 15px;
  width: 40%;
}

.calendar {
  order: 1;
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  justify-content: space-between;
}

tdm-dish {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

@media (min-width: SumRes($res-laptop, 1px)) {

  article:nth-of-type(2) {
    order: 2;
  }
}

@media (max-width: $res-tablet) {

  .container {
    margin: 0;
    width: 100%;
    position: relative;
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
  }

  .dish {
    flex: 0 0 40vw;

    &.dish {
      width: 40vw;
      margin: 50px 2vw 15px 3vw;
    }

    &.calendar {
      position: fixed;
      width: 30%;
      margin-left: 35%;
    }
  }

  tdm-dish {
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
  }

}

@media (max-width: $res-mobile) {
  
  .container {
    margin: 0;
    width: 100%;
    position: relative;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .dish {
    flex: 0 0 80vw;

    &.dish {
      width: 40vw;
      margin: 20px auto 15px auto;
    }

    &.calendar {
      position: fixed;
      width: 30%;
      margin-left: 35%;
    }
  }

}