<div class="block" *ngIf="isLoading">

  <mat-card>
    <mat-progress-spinner
        class="example-margin"
        color="accent"
        mode="indeterminate"
        value="50"> </mat-progress-spinner>
        <h3>A gravar...</h3>
  </mat-card>
</div>
<mat-toolbar>
  <span id="logo" ><img src="../assets/img/logo.png" alt=""></span>
  <span class="spacer"></span>
  <a id="logout" mat-stroked-button color="accent" (click)="Logout()" href="">Terminar Sessão <i class="fa fa-sign-out"></i></a>
</mat-toolbar>

<h2>Menu do Dia</h2>
<section class="flex">
  <article *ngFor="let form of inputs">
    <mat-card>
      <tdm-dish-input (onCreateDish)="CreateDish($event)" (onUpdateDish)="UpdateDish($event)" [dish]="form"></tdm-dish-input>
    </mat-card>
  </article>
</section>

<button mat-raised-button color="accent" (click)="DownloadMenu()" id="print">Imprimir</button>