@import "../sass/variables.scss";

h2{
    text-align: center;
}

.flex{
    justify-content: space-evenly;
}

.block{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;

    mat-card{
        width: 100px;
        margin: auto;
    }
    h3{
        text-align: center;
    }
}

#logout{
    justify-self: right;
    display: flex;
}

.spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    height: 120px;
}

#logo{
    max-width: 200px;
    img{
        max-width: 100%;
    }

}


#print{
    margin: auto;
    display: block;
}

@media (max-width: $res-mobile){

    mat-toolbar{
        flex-direction: column;
        height: 208px;
        padding: 0 0 15px;
    }

    #logo{
        width: 100%;
        margin: auto;
        max-width: unset;
        background-color: white;
        img{
            max-width: 200px;
            margin: auto;
            display: block;
        }
    }

    section.flex:first-of-type{
        flex-direction: column;
    }

    article{
        width: 90%;
        margin: auto;
        &:nth-of-type(2){
            margin-top: 50px;
        }
    }
}