/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.flex{
    display: flex;
    justify-content: center;
}

body{
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}

h1, h2, h3, p, a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$tdm-accent: (
    50 : #f8e3e4,
    100 : #edb9bb,
    200 : #e28a8e,
    300 : #d65b60,
    400 : #cd383e,
    500 : #c4151c,
    600 : #be1219,
    700 : #b60f14,
    800 : #af0c11,
    900 : #a20609,
    A100 : #ffcdce,
    A200 : #ff9a9b,
    A400 : #ff6769,
    A700 : #ff4d50,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$tdm-primary: (
    50 : #e8e8e8,
    100 : #c6c6c6,
    200 : #a0a0a0,
    300 : #79797a,
    400 : #5d5d5e,
    500 : #404041,
    600 : #3a3a3b,
    700 : #323232,
    800 : #2a2a2a,
    900 : #1c1c1c,
    A100 : #f07777,
    A200 : #eb4949,
    A400 : #ff0202,
    A700 : #e70000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($tdm-primary);
$accent: mat-palette($tdm-accent);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);