@import "../sass/variables.scss";

.logo{
    width: 30%;
}

.contacts{
    margin-top: 10vh;
}

@media (max-width: $res-mobile){
    .logo{
        width: 50%;
    }



    .contacts{
        margin-top: 0;
        tdm-contacts {
            display: flex;
            justify-content: space-around;
        }
        
    }
}

